<div class="mod-display-flex mod-flex-column justify-content-between">
  <div class="mb-2">
    <img [src]="actor.profile_path" alt="Profile – {{ actor.name }}">
  </div>
  <div class="mod-display-flex mod-flex-column text-center">
    <span>{{ actor.name }}</span>
    <span>{{ actor.character }}</span>
  </div>
</div>