<div class="row justify-content-end mt-3">
  <div class="col text-right">
    <div ngbDropdown class="d-inline-block mod-margin-bottom-20">
      <button class="btn btn-outline-primary btn-sm" ngbDropdownToggle>
        {{ 'movieList.sort.' + activeSort | translate }}
      </button>
      <div ngbDropdownMenu>
        <a *ngFor="let sort of sorts"
                [routerLink]="[]"
                [queryParams]="{ sort_by: sort }"
                queryParamsHandling="merge"
                class="dropdown-item">
          {{ 'movieList.sort.' + sort | translate }}
        </a>
      </div>
    </div>
  </div>
</div>

<ul class="ul-no-style">
  <li *ngFor="let movie of movies" class="mod-margin-bottom-20">
    <app-movie-card [movie]="movie"></app-movie-card>
  </li>
</ul>

<ngb-pagination [collectionSize]="totalResults"
                [(page)]="page"
                [maxSize]="5"
                [pageSize]="pageSize"
                [boundaryLinks]="true"
                [rotate]="true"
                [ellipses]="false"
                (pageChange)="onPageChange($event)">
</ngb-pagination>
