<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-2">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-sm-12 col-md">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
