<ul class="ul-no-style mod-margin-bottom-20">
  <li class="mod-margin-bottom-20">
    <a class="btn btn-sm w-100"
       [routerLink]="'movie/now-playing'"
       routerLinkActive="btn-primary">
      {{ 'movieList.categories.nowPlaying' | translate }}
    </a>
  </li>
  <li>
    <a class="btn btn-sm w-100"
       [routerLink]="'movie/discover'"
       [queryParams]="{ sort_by: 'popularity.desc'}"
       routerLinkActive="btn-primary">
      {{ 'movieList.categories.popularMovies' | translate }}
    </a>
  </li>
  <li>
    <a class="btn btn-sm w-100"
       [routerLink]="'movie/discover'"
       routerLinkActive="btn-primary">
      {{ 'movieList.categories.myWishlist' | translate }}
    </a>
  </li>
</ul>

<ul class="ul-no-style">
  <li *ngFor="let genre of genres">
    <a class="btn btn-sm w-100"
       [routerLink]="'movie/discover'"
       [queryParams]="{ with_genres: genre.id}"
       routerLinkActive="btn-primary">
      {{ genre.name }}
    </a>
  </li>
</ul>