.mod-display-inline-block {
  display: inline-block !important;
}

.mod-display-inline-flex {
  display: inline-flex !important;
}

.mod-display-flex {
  display: flex !important;
}

.mod-flex-column {
  flex-direction: column !important;
}

.mod-justify-between {
  justify-content: space-between !important;
}

.mod-margin-right-20 {
  margin-right: 20px !important;
}

.mod-margin-bottom-20 {
  margin-bottom: 20px !important;
}

.mod-padding-10 {
  padding: 10px !important;
}
