<div class="row no-gutters justify-content-end mr-3 pt-2">
  <div class="col text-right">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-light btn-sm" ngbDropdownToggle>
        {{ 'home.selectLang.' + currentLang | translate }}
      </button>
      <div ngbDropdownMenu>
        <a *ngFor="let lang of availableLangs"
          (click)="changeLanguage(lang)"
          class="dropdown-item">
          {{ 'home.selectLang.' + lang | translate }}
        </a>
      </div>
    </div>
  </div>
</div>