<div class="row justify-content-center">
  <div class="mb-5">
    <img [src]="movie?.poster_path" alt="Poster – {{ movie?.title }}">
  </div>
</div>

<h2>
  {{ movie?.title }}
  <span>({{ movie?.release_date }})</span>
</h2>

<div class="row">
  <div class="col-6 text-right">
    <a class="btn btn-sm"
       *ngFor="let genre of movie?.genres"
       [routerLink]="'../discover'"
       [queryParams]="{ with_genres: genre.id}">
     {{ genre.name }}
    </a>
  </div>
  <div class="col-6">
    <ngb-rating [rate]="movie?.vote_average"
                [readonly]="true">
    </ngb-rating>
  </div>
</div>
<p>{{ 'movieDetails.runtime' | translate }}: {{ movie?.runtime }}</p>
<p>{{ 'movieDetails.budget' | translate }}: {{ movie?.budget }}</p>
<p class="text-justify">
  {{ movie?.overview }}
</p>

<h2>{{ 'movieDetails.actors' | translate }}</h2>
<button class="btn" (click)="showMoreActors()">
  {{ 'movieDetails.showMore' | translate }}
</button>
<div class="row">
  <div class="col-3" *ngFor="let actor of displayActors">
    <app-movie-actor-card [actor]="actor"
                          class="mr-3">
    </app-movie-actor-card>
  </div>
</div>

<h2>{{ 'movieDetails.images' | translate }}</h2>
<button class="btn" (click)="showMoreImages()">
  {{ 'movieDetails.showMore' | translate }}
</button>
<div class="row">
  <div class="col-3" *ngFor="let image of displayImages">
    <img [src]="image?.file_path" alt="Poster – {{ movie?.title }}">
  </div>
</div>
