<div class="mod-display-flex mod-justify-between">
  <div class="mod-margin-right-20">
    <img [src]="movie.poster_url" alt="Poster – {{ movie.title }}">
  </div>
  <div class="mod-display-flex mod-flex-column mod-justify-between">
    <div>
      <div class="mod-display-flex mod-flex-column mod-margin-right-20">
        <h2>{{ movie.title }}</h2>
        <span>{{ movie.release_date }}</span>
        <ngb-rating [rate]="movie.vote_average"
                    [readonly]="true">
        </ngb-rating>
        <span>
          {{ getGenresString(movie.genres) }}
        </span>
      </div>
      <p class="text-justify">
        {{ movie.overview }}
      </p>
    </div>
    <a [routerLink]="['../', movie.id]"
       class="btn btn-sm btn-outline-info">
      {{ 'movieList.more' | translate }}
    </a>
  </div>
</div>